body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}

.header {
    background-color: #55A54E;
    color: #EDE9A2;
    overflow: auto;
    border-bottom: 4px solid #EDE9A2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    float: right;
    list-style: none;
}

.main_title {
    margin: 0;
    float: left;
    padding-top: 5px;
}

.navbar li {
    float: left;
    margin-left: 15px;
    text-transform: uppercase;  
    font-weight: bold;
    font-size: 15px;
}

.contrast {
    color: #006400;
    text-align: center;
}

.bt_login {
    background-color: #EDE9A2;
    border: none;
    text-transform: uppercase;
    color: #55A54E;
    font-weight: bold;
    font-size: 15px;
    border-radius: 15px;
    padding: 1px 6px;
}

a {
    text-decoration: none;
    color: #EDE9A2;
}

.pag-login {
    background-image: url(img/farm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 578px;
    overflow: auto;
    border-bottom: 6px solid #EDE9A2;
}

.box-login {
    background-color: #55A54E;
    width: 40%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 50%;
    padding: 20px;
    text-align: center;
    /* box-shadow: eixoX eixoY blurry (embaçado) spread (espaçamento)*/
    box-shadow: 5px 7px 13px 1px black;
}

.box-login h1 {
    color: #EDE9A2;
}

.input {
    border: none;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px 50px 10px 50px;
    border-radius: 20px;
    
}

.bt_enter {
    border: none;
    background-color: #EDE9A2;
    padding: 5px 117px;
    margin-top: 10px;
    font-weight: bold;
    color: #006400;
    border-radius: 20px;
}

.contact_us a {
    list-style: none;
    font-size: small;
    color: #006400;
    font-weight: bold;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 10px;
}

.bt_register {
    border: none;
    text-transform: uppercase;
    margin-top: 3%;
    padding: 6px 100px;
    background-color: #006400;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    margin-bottom: 5px;
    box-shadow: 5px 7px 13px 0.5px black;
}

.box-login img {
    width: 10%;
}

.footer {
    background-color: #55A54E;
    padding-bottom: 20px;
}

.copyright {
    text-align: center;
    margin: 0;
    padding-top: 0;
}

.contrast-footer {
    color: #006400;
    text-align: center;
    margin-top: 0;
    padding-top: 15px;
}

.cane {
    color: #EDE9A2;
}