body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}

.header {
    background-color:#55A54E;
    color: #EDE9A2;
    overflow: auto;
    border-bottom: 4px solid #EDE9A2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    float: right;
    list-style: none;
}

.main_title {
    margin: 0;
    float: left;
    padding-top: 5px;
}

body .header .navbar li {
    
    float: left;
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: bold; /*Peso da fonte*/
    font-size: 15px;
}

.contrast {
    color: #006400;
    text-align: center;
}

.bt_register {
    background-color: #EDE9A2;
    color: #55A54E;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    border-radius: 8px;
    border: 0;
    padding: 1px 6px;
}

.banner {
    background-image: url(farm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    border-bottom: 5px solid #006400;
    background-color: #006400;
    overflow: auto;
}

.container .box {
    margin-top: 50px;
    background-color: #ede9a265;
    padding-top: 30px;
    padding-bottom: 520px;
    text-align: center;
    border-radius: 30px;
}

.graphic_box {
    float: left;
    width: 50%;
}

.title {
    text-align: center;
}

.graphic_box img {
    padding-top: 20px;
    width: 200%;
}

.status {
    text-transform: uppercase;
    font-weight: 900;
}

.footer {
    background-color: #55A54E;
    padding-bottom: 20px;
}

.contrast-footer {
    color: #006400;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
}
.cane {
    color: #EDE9A2;
}

.copyright {
    text-align: center;
    margin: 0;
    padding-top: 20px;
}
