body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}

.header {
    background-color: #55A54E;
    color: #EDE9A2;
    overflow: auto;
    border-bottom: 4px solid #EDE9A2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    float: right;
    list-style: none;
}

.main_title {
    margin: 0;
    float: left;
    padding-top: 5px;
}

.navbar li {
    float: left;
    margin-left: 15px;
    text-transform: uppercase;  
    font-weight: bold;
    font-size: 15px;
}

.contrast {
    color: #006400;
    text-align: center;
}

.bt_login {
    background-color: #EDE9A2;
    border: none;
    text-transform: uppercase;
    color: #55A54E;
    font-weight: bold;
    font-size: 15px;
    border-radius: 15px;
    padding: 1px 6px;
}

a {
    text-decoration: none;
    color: #EDE9A2;
}

.dashboard {
    overflow: auto;
    background-image: url(img/farm_client.jpeg);
    height: 750px;
}

.client_inform {
    text-align: center;
    margin-top: 10px;
    color: #006400;
}

.company {
    background-color: #F9F8E3;
}

.dashboard img {
    width: 20%;
    float: left;
    margin-top: 0.5%;
    border-radius: 10px;
}

.production {
    background-color: #555555;
    float: left;
    margin-top: 0.5%;
    margin-left: 1%;
    width: 20%;
    text-align: center;
    padding: 3%;
    color: #EDE9A2;
    border-radius: 10px;
}

.hectare {
    background-color: #555555;
    float: left;
    margin-top: 0.5%;
    margin-left: 1%;
    width: 20%;
    text-align: justify;
    padding: 3%;
    color: #EDE9A2;
    border-radius: 10px;
}

.data_number {
    font-size: 66px;
    color: white;
    margin: 1px;
    text-align: center;
}

.api {
    background-color: #555555;
    float: left;
    margin-top: 0.5%;
    margin-left: 1%;
    width: 19%;
    text-align: justify;
    padding: 3%;
    color: #EDE9A2;
    border-radius: 10px;
}

.api_text {
    color: white;
    margin: 5px;
    text-align: center;
    font-size: 30px;
}

.graphic {
    width: 70%;
    text-align: center;
}

.box-graphic {
    width: 100%;
    background-color: #555555;
    float: left;
    margin-top: 0.5%;
    border-radius: 10px;
    text-align: center;
    padding-left: 14%;
    margin-right: 90%;
}

.graphic_resume {
    float: right;
    text-align: center;
    margin-left: 90px;
    margin-right: 90px;
    color: white;
    margin-top: 0;
}

.benefit {
    font-size: x-large;
    color: #55A54E;
    font-weight: bold;
}