body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}

.header {
    background-color: #55A54E;
    color: #EDE9A2;
    overflow: auto;
    border-bottom: 4px solid #EDE9A2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    float: right;
    list-style: none;
}

.main_title {
    margin: 0;
    float: left;
    padding-top: 5px;
}

li {
    float: left;
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.contrast {
    color: #006400;
    text-align: center;
}

.bt_register {
    background-color: #EDE9A2;
    border: none;
    text-transform: uppercase;
    color: #55A54E;
    font-weight: bold;
    font-size: 15px;
    border-radius: 15px;
    padding: 1px 6px;
}

.banner {
    background-image: url(img/tech.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    overflow: auto;
    border-bottom: 5px solid #EDE9A2;
}

.services {
    margin: 0;
    overflow: auto;
}

.big_box_services {
    text-align: justify;
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 15px 40px 20px 40px;
    background-color: #928e8eb6;
    border-radius: 32px;
    border-bottom: 4px solid #EDE9A2;
    border-left: 4px solid #EDE9A2;
    padding-bottom: 70px;
}

a {
    text-decoration: none;
    color: #EDE9A2;
}

.information {
    overflow: auto;
    background-color: #333333;
    border-bottom: 6px solid #EDE9A2;
}

.boxes {
    margin-top: 30px;
}

.box_information {
    float: left;
    width: 100%;
    margin: 0;
    padding-bottom: 0;
}

.text_information {
    float: right;
    width: 35%;
    margin-bottom: 0;
    padding: 80px 100px 0px 90px;
    text-align: center;
    color: white;
    font-size: x-large;
}

.box_information2 {
    float: right;
    width: 100%;
    margin: 0;
    padding-bottom: 0;
}

.text_information2 {
    float: left;
    width: 35%;
    margin-bottom: 0;
    padding: 80px 90px 0px 70px;
    text-align: center;
    color: white;
    font-size: x-large;
}

.box_information2 img {
    width: 50%;
    margin: 0;
    padding-bottom: 0;
    float: right;
}

.text_information2 h1 {
    padding-bottom: 25px;
    text-transform: uppercase;
    color: #EDE9A2;
}

.text_information h1 {
    padding-bottom: 25px;
    text-transform: uppercase;
    color: #EDE9A2;
}

.box_information img {
    width: 50%;
    margin: 0;
    padding-bottom: 0;
    float: left;
}

.banner2 {
    background-image: url(img/profit.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
    overflow: auto;
    border-bottom: 5px solid #EDE9A2;
}

.profit {
    background-color: #333333ec;
    margin-top: 15%;
    text-align: center;
    margin-left: 160px;
    margin-right: 160px;
}

.data_profit {
    padding: 10px 70px 10px 70px;
    font-size: large;
    color: white;
    box-shadow: 5px 7px 13px 1px black;
}

.data_profit h1 {
    text-transform: uppercase;
    color: #EDE9A2;
}

.bt_contact {
    background-color: #EDE9A2;
    text-transform: uppercase;
    color: #333333;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 10px 20px;
    box-shadow: 5px 7px 13px 1px black;
}

.bt_register_c {
    background-color: #55A54E;
    text-transform: uppercase;
    color: white;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 10px 20px;
    box-shadow: 5px 7px 13px 1px black;
}

.footer {
    background-color: #55A54E;
    padding-bottom: 20px;
}

.copyright {
    text-align: center;
    margin: 0;
    padding-top: 0;
}

.contrast-footer {
    color: #006400;
    text-align: center;
    margin-top: 0;
    padding-top: 15px;
}

.cane {
    color: #EDE9A2;
}