

body{
    font-family: 'Amaranth', sans-serif;
    margin: 0;

}
.header button{
    font-family: 'Amaranth', sans-serif;

}
.header{
    background-color: #55A54E;
    color: white;
    /* height: 100px; */
    overflow: auto;
    border-bottom: 3px solid #ede9a3;
    padding-top: 10px;
    padding-bottom: 10px;
    }
 .header .logo img{
float: left;
height: 90px;
 }

 button {
    width: 98px; 
    height: 30px;
}

    .navbar{
        list-style: none;
        float: right;
    }
    .titulo{
        float: left;
        margin: 0;
        color: #55A54E;
    }
     .header .container .navbar button  {
        float: left;
        margin-top: 10px;
        margin-left:10px;
        text-transform: uppercase;
        border-radius: 20px;
        background-color: #55A54E;
    }
    
    .destaque{
        color: #ede9a3;
        
        }
        
        .container{
            width: 50%;
            margin: auto;
            text-align: center;
        }
        
        
        .bannerhome{
            background-color: #b1b1b1;
            text-align: center;
            background-image: url(imgs/Rectangle\ 15-000.png);
            background-repeat: no-repeat;
            height: 100px;
            background-size:cover;
            
            
        }

    
  
        .bannerhome h1{
            margin: 0;
            font-size: 35px;
            padding-top: 100px;
        }
     
        .porque button{
            font-family: 'Amaranth', sans-serif;

            border: 0;
            background-color: #55a44e;
            color:#ede9a3 ;
            text-align: center;
            text-transform: uppercase;
        padding: 10px 30px;
        margin-top: 20px;
        }
        
        .porque{
            text-align: center;
            margin-top: 0px;
            height: 250px;
            background-color: #55A54E;
            border-bottom: 3px solid #ede9a3;

        }
        .porque .container h1{
            margin-top: -18px;
        }
        .box {
            overflow: auto;
        
        }
        .box-item  {
            float: left;
            width: 27%;
        margin-top: 10px;
        padding: 20px;
        }

        .banner .container .destaque button{
            font-family: 'Amaranth', sans-serif;

        }

        .footer{
            text-align: center;
            background-color: #232323;
            color: white;
            padding-top: 40px;
        }

        .footer h4{
            margin: 0;
            font-weight: 100;
            color: white;
            cursor: pointer;
            margin-top: -33px;
        
        }

    .porque .container h1{
        color:  #232323;
        margin-bottom: 5px;
        margin-top: 10px;

    }
    .porque  {
      
        border-top: 5px solid #ede9a3;

    }

    
    .container{
text-align: justify;
}


.porque .container .imagem img{
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

.porque .container .imagem img{
height: 230px;
border: 3px solid #232323;
border-radius: 5px;

}
.porque .container .imagem .analise img{
    float: right;
    margin-left: 10px;
}