/*Body*/
*{
    margin: 0;
    padding: 0;
}

body{
    background: white;
    
}
/*Header*/
.cabeca{
    background:  #292e3b;
    height: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 6px;
    border-bottom: 3px solid #7dcf2a;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cabeca h1{
    color: #ffffff;
    
    
}

.cabeca h1 img{
    margin-top: 10px;
    width: 180px;
}

.lista{
    display: flex;
    list-style: none;
    padding-top: 12px;
}

.lista li a{
    color: #3cbbc4;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
}

.lista li a:hover{
    color: #095b61;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
}


.lista li{
    margin-right: 25px;
}

.lista li:nth-child(5){
    background:#3cbbc4;
    padding: 2px;
    border-radius: 10px;
    margin: 0 !important;
}

.lista li:nth-child(5):hover{
    background:#095b61;
    padding: 2px;
    border-radius: 10px;
    margin: 0 !important; 
}

.login{
    color: #292e3b !important;
}

/*Corpo*/

.body1{
    background-image: url("./imagens/ceu.png");
    background-size: cover;
    height: 140px;
    border-bottom: 3px solid #7dcf2a;
}

.body2{
    background: #292e3b;
    height: 560px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    margin-top: -60px;
    padding-right: 180px;
    padding-left: 180px;
    line-height: 27px;
    font-weight: 640;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body2 img{
    height: 230px;
}

.body3 h1{
    color: #3cbbc4;
    font-size: 30px;
    padding-bottom: 30px;
}

.body2 p{
    margin-top: 30px;
    margin-bottom: 500px;
    font-size: 17px;
    color: #ffffff;
    
}

.body3{
    background: #292e3b;
    height: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    padding-right: 180px;
    padding-left: 180px;
    line-height: 27px;
    font-weight: 640;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.body3 h1{
    color: #3cbbc4;
    font-size: 30px;

}
.body3 img{
    height: 230px;
    border: 3px solid #7dcf2a;
}

.body3 p{
    margin-top: 30px;
    font-size: 17px;
    color: #ffffff;

}
.body4{
    background: #292e3b;
    height: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    padding-top: 10px;
    padding-right: 180px;
    padding-left: 180px;
    line-height: 27px;
    font-weight: 640;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.body4 h1{
    color: #3cbbc4;
    font-size: 30px;
    padding-bottom: 30px;

}
.body4 img{
    height: 230px;
    border: 3px solid #7dcf2a;
}

.body4 p{
    margin-top: 30px;
    margin-bottom: 500px;
    font-size: 17px;
    color: #ffffff;
}

.body5{
     background: #292e3b;
     height: 560px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    padding-top: 40px;
    padding-right: 180px;
    padding-left: 180px;
    line-height: 27px;
    font-weight: 640;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      
 }
    
.body5 h1{
    color: #3cbbc4;
    font-size: 30px;
    padding-bottom: 30px;
    
}
.body5 img{
    height: 230px;
    border: 3px solid #7dcf2a;
}
    
.body5 p{
    margin-top: 30px;
    margin-bottom: 500px;
    font-size: 17px;
    color: #ffffff;

}

.body6{
    background: #292e3b;
    height: 520px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    padding-top: 10px;
    padding-right: 180px;
    padding-left: 180px;
    line-height: 27px;
    font-weight: 640;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.body6 h1{
    color: #3cbbc4;
    font-size: 30px;
    padding-bottom: 30px;
}
.body6 img{
    height: 230px;
    border: 3px solid #7dcf2a;
}

.body6 p{
    margin-top: 30px;
    margin-bottom: 500px;
    font-size: 17px;
    color: #ffffff;
}

.body7{
    background: #292e3b;
    height: 510px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-items: center;
   padding-top: 10px;
   padding-right: 180px;
   padding-left: 180px;
   line-height: 27px;
   font-weight: 640;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     
}
   
.body7 h1{
   color: #3cbbc4;
   font-size: 30px;
   padding-bottom: 30px;
   
}
.body7 img{
   height: 230px;
   border: 3px solid #7dcf2a;
}
   
.body7 p{
   margin-top: 30px;
   margin-bottom: 500px;
   font-size: 17px;
   color: #ffffff;

}

.body8{
   background: #292e3b;
   height: 540px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-items: center;
   padding-top: 10px;
   padding-right: 180px;
   padding-left: 180px;
   line-height: 27px;
   font-weight: 640;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     
}
   
.body8 h1{
   color: #3cbbc4;
   font-size: 30px;
   padding-bottom: 35px;
}
.body8 img{
   height: 230px;
   border: 3px solid #7dcf2a;
}
   
.body8 p{
   margin-top: 30px;
   margin-bottom: 500px;
   font-size: 17px;
   color: #ffffff;

}

.body9{
    background: #292e3b;
    height: 560px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    padding-top: 10px;
    padding-right: 180px;
    padding-left: 180px;
    line-height: 27px;
    font-weight: 640;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
    
 .body9 h1{
    color: #3cbbc4;
    font-size: 30px;
    padding-bottom: 30px;
 }
 .body9 img{
    height: 230px;
    border: 3px solid #7dcf2a;
 }
    
 .body9 p{
    margin-top: 30px;
    margin-bottom: 500px;
    font-size: 17px;
    color: #ffffff;
 }

 .body10{
    background: #292e3b;
    height: 560px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    padding-top: 10px;
    padding-right: 180px;
    padding-left: 180px;
    line-height: 27px;
    font-weight: 640;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
 }
    
 .body10 h1{
    color: #3cbbc4;
    font-size: 30px;
    padding-bottom: 30px;
 }
 .body10 img{
    height: 230px;
    border: 3px solid #7dcf2a;
 }
    
 .body10 p{
    margin-top: 30px;
    margin-bottom: 500px;
    font-size: 17px;
    color: #ffffff;
 }

 .body11{
    background: #292e3b;
    height: 560px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    padding-top: 10px;
    padding-right: 180px;
    padding-left: 180px;
    line-height: 27px;
    font-weight: 640;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
 }
    
 .body11 h1{
    color: #3cbbc4;
    font-size: 30px;
    padding-bottom: 30px;
 }
 .body11 img{
    height: 230px;
    border: 3px solid #7dcf2a;
 }
    
 .body11 p{
    margin-top: 30px;
    margin-bottom: 500px;
    font-size: 17px;
    color: #ffffff;
 }
 
 .body12{
    background: #292e3b;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    padding-top: 10px;
    padding-right: 180px;
    padding-left: 180px;
    line-height: 27px;
    font-weight: 640;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
    
 .body12 h1{
    color: #3cbbc4;
    font-size: 30px;
    padding-bottom: 30px;
 }
 .body12 img{
    height: 230px;
    border: 3px solid #7dcf2a;
 }
    
 .body12 p{
    margin-top: 30px;
    margin-bottom: 500px;
    font-size: 17px;
    color: #ffffff;
 }

 .body13{
     background-image: url(./imagens/lua.jpg);
     height: 200px;
     width: 100%;
     border-top: 2px solid #7dcf2a;  
 }

 .pe{
    background: #292e3b;
    height: 50px;
    border-top: 3px solid #7dcf2a;  
}

.pe img{
   height: 50px; 
   display: flex;
    align-items: center;
    padding-left: 48%;  
}
