*{
    margin: 0;
    padding: 0;
}

body{
    background: white;
    
}

.cabeca{
    background:  #292e3b;
    height: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 6px;
    border-bottom: 3px solid #7dcf2a;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cabeca h1{
    color: #ffffff;
    
    
}

.cabeca h1 img{
margin-top: 10px;
width: 180px;
}

.lista{
    display: flex;
    list-style: none;
    padding-top: 12px;
}

.lista li a{
    color: #3cbbc4;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
}

.lista li a:hover{
    color: #095b61;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
}

.lista li{
    margin-right: 25px;
}

.lista li:nth-child(5){
    background:#3cbbc4;
    padding: 2px;
    border-radius: 10px;
    margin: 0 !important;
}

.lista li:nth-child(5):hover{
    background:#095b61;
    padding: 2px;
    border-radius: 10px;
    margin: 0 !important; 
}

.login{
    color: #292e3b !important;
}
 
.body1{
    background-image: url("./imagens/wpguerra.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 3px solid #7dcf2a;
}


.body1 p{
    text-shadow: 0.1em 0.1em 0.2em #7dcf2a;
}

.body1 button {
    border: 0;
    background-color: #292e3b;
    color: #3cbbc4;
    text-transform: uppercase;
    padding: 9px 20px;
    margin-top: 70px;
    border-radius: 20px;
    font-weight: 650;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body1 button:hover{
    border: 0;
    background-color: #292e3b;
    color: #3cbbc4;
    text-transform: uppercase;
    padding: 9px 20px;
    margin-top: 70px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px 1px #7dcf2a;
    -webkit-transform: scale(1.2);
    font-weight: 650;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.audio_historia{
    margin-top: 80px;
}

.body2{
    background: white;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    padding-right: 300px;
    padding-left: 300px;
    line-height: 24px;
    margin-top: -60px;
    margin-bottom: 15px;
    line-height: 27px;
    font-weight: 640;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.body2 h1{
    color: #3cbbc4;
    font-size: 30px;
}

.body2 p{
    margin-top: 30px;
    margin-bottom: 500px;
    font-size: 17px;
    color: #292e3b;
}

.body3{
    background: #292e3b;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    padding-top: 70px;
    padding-right: 180px;
    padding-left: 180px;
    line-height: 27px;
    font-weight: 640;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-top: 3px solid #7dcf2a;
}

.body3 h1{
    color: #7dcf2a;
    font-size: 34px;
}

.body3 p{
    margin-top: 60px;
    margin-bottom: 500px;
    font-size: 17px;
    padding-bottom: 30px;
    color: #ffffff;
    
}
.body4{
    background-image: url("./imagens/wallpaper.jpg");
    background-size: cover;
    height: 300px;
    border-top: 3px solid #7dcf2a;
    padding-bottom: 10px;
}
/*
.body3{
    background: #292e3b;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid #7dcf2a;
    border-bottom: 3px solid #7dcf2a;
}

.sessao{
    background: white;
    height: 350px;
    width: 70px;
    min-width: 300px;
    margin: 0px 60px 0px 60px;
    border-radius: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.sessao h3{
color: #55a44e;
margin-top: 30px;
}

.sessao.um img {
    width: 150px;
}

.sessao.dois img{
    width: 100px;

}

.sessao.tres img{
    width: 80px;
}


.sessao p{
    margin-top: 30px;
    width: 250px;
    text-align: center;
    line-height: 20px;
}

.body4{
    height: 450px;
    background: white;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.container_produtos{
width: 100%;
justify-content: center;
display: flex;
margin-top: 25px;
}

.body4 h2{
  font-size: 28px;
}



.imagem{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.233);
    font-size: 22px;
    width: 40%;
    height: 300px;
    justify-content: center;
    margin: 0px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body4 img{
    height: 100px;


}
*/
.pe{
    background: #292e3b;
    height: 50px;

    border-top: 3px solid #7dcf2a;
    
    
}

.pe img{
   height: 50px; 
   display: flex;
    align-items: center;
    padding-left: 48%;
    
}

/*justify-content: center; 
manda o conteudo para o centro */

/*align-items: center;
manda o texto para o meio na horizontal  */

/* justify-content: space-between;
manda o texto para o meio na vertical */

/* font-size: ;
tamanho da fonte */

/* letter-spacing: 1px;
espasamento das letrar */

/* font-weight: 500;
gosgura da nossa letra */

/* flex-wrap: wrap;
quando diminuir a tela ele não buga */

/* .lista li:nth-child(5)
selecionando a criança 5 da lista */

/* border-radius: 50;
arredondar a imagem */

/* flex-direction: column;
deixa um em baixo do outro */

/* line-height: 20px;
espassamento da linhas */

/*  border-top: 3px solid
fazer uma borda no topo do conteiner */

/* text-transform: uppercase;
transformar o trxto em maiusculo */

