*{
    margin: 0;
    padding: 0;
}

body{
    background: white;
    
}

.cabeca{
    background:  #292e3b;
    height: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 6px;
    border-bottom: 3px solid #7dcf2a;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cabeca h1{
    color: #ffffff;
}

.cabeca h1 img{
    margin-top: 10px;
    width: 180px;
}

.lista{
    display: flex;
    list-style: none;
    padding-top: 12px;
}

.lista li a{
    color: #3cbbc4;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
}

.lista li a:hover{
    color: #095b61;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
}


.lista li{
    margin-right: 25px;
}

.lista li:nth-child(5){
    background:#3cbbc4;
    padding: 2px;
    border-radius: 10px;
    margin: 0 !important;
}

.lista li:nth-child(5):hover{
    background:#095b61;
    padding: 2px;
    border-radius: 10px;
    margin: 0 !important; 
}

.login{
    color: #292e3b !important;
}

.pag-login{
    background-image: url(./imagens/wallpaperboa.jpg);
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 3px solid #7dcf2a;
}


.container {
    width: 90%;
    margin: auto;
}

.main_title {
    margin: 0;
    float: left;
    padding-top: 5px;
}

.navbar li {
    float: left;
    margin-left: 15px;
    text-transform: uppercase;  
    font-weight: bold;
    font-size: 15px;
}

/* CORPO */

.container{
    background-color: #000000b2;
   
    margin-left: 54%;
    margin-right: 50%;
    padding: 27px;
    text-align: center;
    border-radius: 30px;
    /* box-shadow: eixoX eixoY blurry (embaçado) spread (espaçamento)*/
    box-shadow: 5px 7px 13px 1px black;
}


.container h1 {
    color: #7dcf2a;
    font-family: monospace;
    font-size: 35px;

}

input {
    border: none;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 7px 25px 7px 100px;
    border-radius: 10px;
    
}

.box-login button {
    border: none;
    padding: 5px 117px;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 20px;
    text-decoration: none;
    color:#3cbbc4;
}
.box-login button {
    border: none;
    margin-top: 3%;
    padding: 5px 60px;
    background-color: #292e3b;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 5px;
}

.box-login button:hover{
    border: none;
    margin-top: 3%;
    padding: 5px 60px;
    background-color: #292e3b;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 5px;
    box-shadow: 10px 10px 15px 1px #7dcf2a;
    -webkit-transform: scale(1.1);
}


.box-login img {
    width: 8%;
}

.pe{
    background: #292e3b;
    height: 50px;
}

.pe img{
    height: 50px; 
    display: flex;
     align-items: center;
     padding-left: 48%;  
 }
