*{
    margin: 0;
    padding: 0;
    
}
.cabeca{
    background:  #292e3b;
    height: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 6px;
    border-bottom: 3px solid #7dcf2a;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cabeca h1{
    color: #ffffff;
    
    
}

.cabeca h1 img{
    margin-top: 10px;
    width: 180px;
}

.lista{
    display: flex;
    list-style: none;
    padding-top: 12px;
}

.lista li a{
    color: #3cbbc4;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
}

.lista li a:hover{
    color: #095b61;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
}

.lista li{
    margin-right: 25px;
}

.lista li:nth-child(5){
    background:#3cbbc4;
    padding: 2px;
    border-radius: 10px;
    margin: 0 !important; 
}

.lista li:nth-child(5):hover{
    background:#095b61;
    padding: 2px;
    border-radius: 10px;
    margin: 0 !important;
     
}

.login{
    color: #292e3b !important;
}

.slider{
    width: 790px;
    height: 800px;
    border-radius: 10px;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;  
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img:hover{
    cursor: pointer;
    box-shadow: 0 0.3rem 0 #7dcf2a;
    transition: transform 150ms;
    transform: scale(1.08);
}

.slide{
    position: relative;
    height: 130vh;
    width: 100vw;
    background-image: url(./imagens//personagens.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px #7dcf2a;
}


.navigation-manual{
    position: absolute;
    width: 1330px;
    margin-top: -470px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 3px solid #3cbbc4;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #292e3b;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -34%;
}

#radio3:checked~ .first{
    margin-left: -67%;
}

#radio4:checked~ .first{
    margin-left: -100%;
}

#radio5:checked~ .first{
    margin-left: -134%;
}

#radio6:checked~ .first{
    margin-left: -167%;
}

.sessao{
    background: white;
    height: 640px;
    min-width: 330px;
    margin: 0px 60px 0px 60px;
    border-radius: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.sessao h3{
color: #55a44e;
margin-top: 30px;
}

.sessao img {
    padding-top: 20px;
    width: 120px;
}

.sessao p{
    margin-top: 30px;
    width: 250px;
    text-align: center;
    line-height: 20px;
}



