
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62,5%;
    font-family: "Audiowide", sans-serif;
}

h1{
    padding-top: 90px;
    font-size: 5.4rem;
    color: white;
    margin-bottom: 5rem;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.btn{
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 4px;
}


.btn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 0 rgb(140, 0, 255);
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#btn-voltar{
    background: linear-gradient(90deg,rgb(0, 255, 255) 0%, rgb(20, 38, 201)100%);
    border-radius: 10px;
}

#bt_comecar{
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background: linear-gradient(90deg,rgb(81, 255, 0) 0%, rgb(137, 255, 172) 100% );
    border-radius: 10px;
}

#bt_comecar:hover{
    color: white;
}

.btn:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(166, 170, 221) ;
    color: white;
}

/* página questions */

body{
    color: white;
    background: rgb(18, 18, 19);

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62,5%;
    font-family: "Audiowide", sans-serif;
}

#corpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}



.botoes button{
    display: flex;
    margin-bottom: 0.9rem;
    background: #9aff6c;
    font-size: 1.9rem;
    min-width: 80rem;
    padding-top: 13px;
    height: 70px;
    margin-left: 15px;
    border-radius: 10px;
}

.botoes button:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(255, 255, 255) ;
}

h2{
    font-size: 2.2rem;
    margin-bottom: 4rem;
    margin-left: 44%;
}

#descricao_Pergunta{
    font-size: 1.9rem;
    margin-left: 30px;
}

/* Página final */

#valor_resultado{
    padding-top: 160px;
    margin-left: 12%;
    align-items: center;
    font-size:2.2rem ;
    color: #ffffff;
}

#ultimo_bt{
    font-size: 1.6rem;
    padding: 1.6rem 0;
    width: 20rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background: linear-gradient(90deg,rgb(0, 225, 255) 0%, rgb(102, 255, 0) 100% );
    border-radius: 10px;
    margin-left: 35%;
    margin-top: 8%;
   
}

#ultimo_bt:hover{
    box-shadow: 0 0.3rem 1.4rem 0 rgb(255, 255, 255) ;
}