body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ecf0f1;
}

.container {
    width: 92%;
    background-color: red;
    margin: auto;
}

.header {
    background-color: #55a44e;
    border-right: 5px solid #e7e6a0;
    width: 16.5%;
    height: 100%;
    position: fixed;
}


h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header_img {
    margin-top: 15%;
    text-align: center;
}

.img_header img {
    width: 50%;
    /* height: 100px; */
    margin-left: 1%;
    margin: auto;  
    border: 3px solid #006301;
    background-color: #05613E;
    border-radius: 5px;
}

.result_detalheSensor {
    font-weight: 600;
    font-size: 20px;
    background-color: white;
    width: 75%;
    border-radius: 10px;
}

.leo_titulo{
    color: #e7e6a0;
    margin-bottom: 6%;
}

#platinha{
    margin: 0;
    margin-bottom: 41px;
    margin-top: -20px;
}

.highlight {
    text-transform: uppercase;
    color: #006301;
    font-size: 25px;
}

.frase_engloba {
    width: 85%;
    margin-left: 8%;
}

.gui_conteudo {
    text-align: center;
    /* background-color: tomato; */
    width: 86%;
    margin: auto;
    font-size: 17.5px;
    padding-bottom: 35%;
    margin-top: 8%;
}

.gui_conteudo_titulo {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 0;
}

#leo_agro{
    color: #006301;
    font-size: 35px;
}

#leo_cane{
    color: #e7e6a0;
    font-size: 35px;
}

.gui_barrinha{
    margin: 0;
    margin-top: 2%;
    /* text-align: center; */
    margin-left: 7.5%;
    height: 4px;
    width: 185px;
    border-radius: 5px;
    background-color: #006301;
    padding: 0;
}

.gui_destaque {
    font-weight: bold;
    color: #006301;
    font-size: 21px;
}

.leo_creme{
    color: #e7e6a0;
    font-size: 21px;
}

.leo_botaozinho{
    text-align: center;
}

.leo_meio{
    height: 100vh;
    background-image: url(../img/img-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* #img_meio{
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%; 
    height: auto;
} */

.leo_caixameio{
    height: 700px;
    width: 40%;
    margin-left: 15%;
    background-color: #333333be;
    border-radius: 3%;
    border: 2px solid #d1d1cc;
}

.gui_informacao {
    padding: 2% 0 2% 0;
    width: 95%;
    text-transform: uppercase;
    font-size: 20px;
}

.gui_informacao h3 {
    font-weight: 400;
    color: white;
}

.gui_informacao b {
    font-weight: 800;
}

.gui_grafico_fora {
    height: 310px;
    margin-bottom: 3.5%;
}

.gui_grafico_torta {
    height: 350px;
    width: 180px;
    margin-top: 0;
    float: left;
}

.gui_grafico_legenda {
    background-color: purple;
    height: 275px;
    float: right;
    width: 200px;
    margin-right: 5%;
}

.gui_cor_legenda1 {
    background-color: pink;
    height: 20px;
    width: 87px;
    /* margin-right: 50%; */
    margin-top: 100%;
}

.gui_cor_legenda2 {
    background-color: tomato;
    height: 20px;
    width: 87px;
    /* margin-right: 50%; */
    margin-top: 7.5%;
}

.gui_caixa_ocorrencia {
    background-color: #e7e6a0;
    width: 70%;
    height: 75px;
    padding: 2% 0 2% 0;
    font-size: 22px;
    overflow-y: scroll;
    border-radius: 5px;
}

.gui_ocorrencia_titulo {
    color: white;
    font-size: 25px;
    /* font-weight: bold; */
}

.gui_seleciona {
    border: none;
    margin-top: 20px;

}

.sel_seleciona_t {
    border-radius: 20px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: 800;
    background-color: #e7e6a0;
}

.instalacao {
    background-color: #e7e6a0c5;
    margin: 15% 18%;
    margin-left: 35%;
    padding: 2% 2%;
    border-radius: 20px;
    box-shadow: 3px 3px 1px #006301;
    transition: 0.5s;
    margin-top: 12%;
}

.instalacao p {
    font-size: 18px;
}

.instalacao button {
    border: none;
    padding: 10px 60px;
    border-radius: 5px;
    margin-top: 2%;
    border: 3px solid #006301;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    background-color: #55a44e;
    color: white;
    transition: 0.4s;
}

.instalacao button:hover {
    letter-spacing: 5px;
    background-color: #006301;
    padding: 10px 70px;
}

.ajuda {
    text-transform: uppercase;
    font-weight: 600;
}









































/* FOOTER */
/* 
.footer {
    background-color: rgb(255, 95, 37);
    text-align: center;
    height: 100px;
}

.footer h4 {
    color: white;
    font-weight: 100;
    margin: 0;
    padding-top: 40px;
} */

